target/*
out
storybook-static/
dist/
.nrepl-port
.rebel_readline_history
figwheel_server.log
.env*.local
.env.production
*.lein-repl-history
.lein-failures
log.txt
node_modules
build-reports
resources/kaleidoscope.pub/static/js/compiled/
resources/kaleidoscope.client/static/js/compiled/
resources/public/
resources/static/
static/js/test/*
/public/

.idea/
*.iml
.shadow-cljs/

# EMACS garbage
*#*#*

src/kaleidoscope/ui/components/js/*
resources/media/*
.clj-kondo/.cache/*
resources/*/media
.DS_Store
.mise.toml
