;; shadow-cljs configuration
{:source-paths ["src"
                "stories"
                "test"]

 :dependencies [;; Resolve conflicts
                [clj-commons/secretary "1.2.4"]
                [cljs-ajax "0.8.1"]

                [day8.re-frame/http-fx "0.2.3"]       ;; For re-frame HTTP effects
                [day8.re-frame/async-flow-fx "0.3.0"] ;; For better async startup
                [hickory "0.7.1"]
                [nubank/matcher-combinators "3.1.4" :scope "test" :exclusions [org.clojure/spec.alpha]]
                [metosin/reitit "0.7.0-alpha7"]
                [re-frame "1.2.0"]
                [reagent "1.2.0"]
                [com.taoensso/timbre "5.1.2"]

                [cider/cider-nrepl "0.30.0"]

                [arttuka/reagent-material-ui "5.11.12-0"]]

 :builds {:app {:target :browser

                ;; Fixes a problem whereby three-js seems to be incompatible with
                ;; shadow/Closure compiler.
                ;; https://clojurians-log.clojureverse.org/shadow-cljs/2021-06-17
                ;; And https://github.com/ertugrulcetin/racing-game-cljs
                :js-options {:entry-keys ["module" "browser" "main"]
                             :extensions [".js" ".mjs"]}

                :output-dir "resources/kaleidoscope.client/static/js/compiled/kaleidoscope.client"
                :asset-path "static/js/compiled/kaleidoscope.client"

                ;; Split up the Frontend UI so that we have two smaller builds, instead of one
                ;; large Javascript file.
                :module-loader    true
                :modules          {:skeleton     {:init-fn kaleidoscope.ui.core/main}
                                   :kaleidoscope {:entries    [kaleidoscope.ui.views]
                                                  :depends-on #{:skeleton}}
                                   :editor       {:entries    [kaleidoscope.ui.pages.article-editor]
                                                  :depends-on #{:kaleidoscope :skeleton}}}
                :compiler-options {:static-fns          true
                                   :infer-externs       :auto
                                   :optimize-constants  true
                                   :output-feature-set  :es-next
                                   :pretty-print        false
                                   :optimization        :advanced
                                   :warnings            {:redef false}
                                   :strip-type-prefixes #{"cljs.pprint"}}

                :closure-defines {;; Impossible to keep this API key safe, so Bugsnag makes it write-only
                                  ;; https://github.com/bugsnag/bugsnag-js/issues/595
                                  kaleidoscope.ui.clients.bugsnag/BUGSNAG_KEY "249774a7ded14185c826a7f33d609794"
                                  kaleidoscope.ui.version/VERSION             "1.0.28"
                                  }

                ;; Shadow has a pre-built idea that every build has a dev and release configuration
                :dev     {:closure-defines {kaleidoscope.ui.clients.keycloak/AUTH_URL   "http://localhost:8080"
                                            kaleidoscope.ui.clients.keycloak/REALM      "test"
                                            kaleidoscope.ui.clients.keycloak/CLIENTID   "test-login"
                                            kaleidoscope.ui.clients.stripe/API_KEY      "pk_test_51PJRp2P8QKNuVuXmy2yART8s1QD1JPFmxJsGb3uwY1f4aeqn2i8Jyd0TpllOgdaY7FyqDr9WCzn2e1E5eksD3kHk00USZP16Mc"}}
                :release {:closure-defines {kaleidoscope.ui.clients.keycloak/AUTH_URL   "https://keycloak.andrewslai.com"
                                            kaleidoscope.ui.clients.keycloak/REALM      "andrewslai"
                                            kaleidoscope.ui.clients.keycloak/CLIENTID   "andrewslai-frontend"
                                            kaleidoscope.ui.clients.stripe/API_KEY      "pk_live_51PJRp2P8QKNuVuXm9XZE5hSBa8jF0nuAI2z0HZw8riKg3FmJNlN4332bmYFnU4LqPdUqS14VZjD6keI7npjYUyJu007PnDUkWj"}
                          :build-hooks     [(shadow.ui.build-report/hook {:output-to "build-reports/release-build-report.html"})]}
                }

          :kaleidoscope.pub {:target :browser

                             :output-dir "resources/kaleidoscope.pub/static/js/compiled/kaleidoscope.pub"
                             :asset-path "static/js/compiled/kaleidoscope.pub"

                             ;; Split up the Frontend UI so that we have two smaller builds, instead of one
                             ;; large Javascript file.
                             :module-loader    true
                             :modules          {:kaleidoscope.pub {:init-fn kaleidoscope.pub.core/main}}
                             :compiler-options {:static-fns          true
                                                :infer-externs       :auto
                                                :optimize-constants  true
                                                :output-feature-set  :es-next
                                                :pretty-print        false
                                                :optimization        :advanced
                                                :warnings            {:redef false}
                                                :strip-type-prefixes #{"cljs.pprint"}}

                             :closure-defines {;; Impossible to keep this API key safe, so Bugsnag makes it write-only
                                               ;; https://github.com/bugsnag/bugsnag-js/issues/595
                                               kaleidoscope.ui.clients.bugsnag/BUGSNAG_KEY "249774a7ded14185c826a7f33d609794"
                                               kaleidoscope.pub.version/VERSION             "1.0.28"
                                               }

                             ;; Shadow has a pre-built idea that every build has a dev and release configuration
                             :dev     {:closure-defines {kaleidoscope.ui.clients.keycloak/AUTH_URL   "http://localhost:8080"
                                                         kaleidoscope.ui.clients.keycloak/REALM      "test"
                                                         kaleidoscope.ui.clients.keycloak/CLIENTID   "test-login"
                                                         kaleidoscope.ui.clients.stripe/API_KEY      "pk_test_51PJRp2P8QKNuVuXmy2yART8s1QD1JPFmxJsGb3uwY1f4aeqn2i8Jyd0TpllOgdaY7FyqDr9WCzn2e1E5eksD3kHk00USZP16Mc"}}
                             :release {:closure-defines {kaleidoscope.ui.clients.keycloak/AUTH_URL   "https://keycloak.andrewslai.com"
                                                         kaleidoscope.ui.clients.keycloak/REALM      "andrewslai"
                                                         kaleidoscope.ui.clients.keycloak/CLIENTID   "andrewslai-frontend"
                                                         kaleidoscope.ui.clients.stripe/API_KEY      "pk_live_51PJRp2P8QKNuVuXm9XZE5hSBa8jF0nuAI2z0HZw8riKg3FmJNlN4332bmYFnU4LqPdUqS14VZjD6keI7npjYUyJu007PnDUkWj"}
                                       :build-hooks     [(shadow.ui.build-report/hook {:output-to "build-reports/release-build-report.html"})]}}

          :stories {:target           :npm-module
                    :ns-regexp        "-stories$"
                    :output-dir       "resources/kaleidoscope.client/static/js/compiled/shareable_stories"
                    :compiler-options {:warnings {:redef false}}}}}
