
[data-slate-editor] {
  padding: 84px 50px 50px;
  position: relative;
}

.slate-HeadingToolbar {
  padding: 17px 60px !important;
  position: fixed !important;
  background: white !important;
  z-index: 1000;
  width: 100%;
}
