@charset "UTF-8";
/* CSS Document*/


/* Smartphones (portrait) ———– */
#primary-nav {
	overflow: hidden;
	background-color: #333333;
	height: 125px;
	min-width: 366px;
}

.navbutton {
	vertical-align: middle;
	position: relative;
	float: right;
	height: 125px;
	padding: 0px 0px;

	display: inline-block;
	text-align: center;
	text-decoration: none;
}

/* Smartphones (landscape) ———– */
@media only screen and (min-width: 450px) {

	#primary-nav {
	    overflow: hidden;
	    background-color: #333333;
	    height: 80px;
	}


	.navbutton {
	    vertical-align: middle;
	    position: relative;
	    float: right;
	    height: 80px;
	    padding: 0px 0px;

	    display: inline-block;
	    text-align: center;
	    text-decoration: none;
	}

}

image.homenav {
	vertical-align: middle;
}
